# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Go
*.exe
*.test

# dbt
dbt/logs/
dbt/target/
dbt/dbt_packages/
dbt/package-lock.yml

# Snowflake credentials
snowflake/profiles.yml

# macOS
.DS_Store

# Kafka jsonl output
services/snowflake_alerts.jsonl
